<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va+wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxAEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAHJhdGhpAAAACQAAAAEB
	AABEb2N1bWVudHMAAAAMAAAAAQYAABAAAAAgAAAAMAAAAAgAAAAEAwAAOUIAAAAAAAAI
	AAAABAMAAJIhBQAAAAAACAAAAAQDAACVIQUAAAAAAAwAAAABBgAAWAAAAGgAAAB4AAAA
	CAAAAAAEAABBxot+BSGlXRgAAAABAgAAAgAAAAAAAAAfAgAAAAAAAB8CAAAAAAAAAAAA
	AAEFAAAIAAAABAMAAAEAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwA
	AAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUMEZcwAAAAgAAAAABAAAQcc2ug4AAAAk
	AAAAAQEAADk4MzY3OTZELTc2RUUtNEFFOC05NEM2LTk4MDRFMjVBM0M2RRgAAAABAgAA
	gQAAAAEAAADvEwAAAQAAAO8TAAABAAAAAQAAAAEBAAAvAAAAMAAAAAECAABkbmliAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABzY29kAgAAAAAAAADwAAAA/v///wEA
	AAAAAAAAEwAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQAACsAAAAAAAAAEAQAACc
	AAAAAAAAAAIgAACAAQAAAAAAAAUgAADwAAAAAAAAABAgAAAAAQAAAAAAABEgAAA0AQAA
	AAAAABIgAAAUAQAAAAAAABMgAAAkAQAAAAAAACAgAABgAQAAAAAAADAgAADMAAAAAAAA
	AAHAAADUAAAAAAAAABHAAAAgAAAAAAAAABLAAADkAAAAAAAAAAHQAADMAAAAAAAAABDQ
	AAAEAAAAAAAAABfwAAAwAAAAAAAAACLwAACMAQAAAAAAAA==
	</data>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>339</real>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>715 693 370 204 0 0 1800 1129 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>590 548 620 398 0 0 1800 1129 </string>
	<key>NSWindow Frame SUUpdateAlert2</key>
	<string>626 545 549 402 0 0 1800 1129 </string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-02-17T14:51:45Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>2202012716</integer>
	<key>allowAnyShortcut</key>
	<true/>
	<key>almostMaximize</key>
	<dict>
		<key>keyCode</key>
		<integer>3</integer>
		<key>modifierFlags</key>
		<integer>655360</integer>
	</dict>
	<key>alternateDefaultShortcuts</key>
	<false/>
	<key>centerThird</key>
	<dict>
		<key>keyCode</key>
		<integer>30</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>doubleClickTitleBar</key>
	<integer>3</integer>
	<key>firstThird</key>
	<dict>
		<key>keyCode</key>
		<integer>33</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>firstTwoThirds</key>
	<dict>
		<key>keyCode</key>
		<integer>27</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>footprintAnimationDurationMultiplier</key>
	<real>0.75</real>
	<key>gapSize</key>
	<real>0.0</real>
	<key>hapticFeedbackOnSnap</key>
	<integer>1</integer>
	<key>hideMenubarIcon</key>
	<false/>
	<key>internalTilingNotified</key>
	<true/>
	<key>landscapeSnapAreas</key>
	<string>[7,{"compound":-4},4,{"compound":-2},2,{"action":2},6,{"action":13},1,{"action":15},3,{"action":16},8,{"action":14},5,{"compound":-3}]</string>
	<key>lastThird</key>
	<dict>
		<key>keyCode</key>
		<integer>42</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>lastTwoThirds</key>
	<dict>
		<key>keyCode</key>
		<integer>24</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>lastVersion</key>
	<string>99</string>
	<key>launchOnLogin</key>
	<true/>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>3</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>nextDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>previousDisplay</key>
	<dict/>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>0</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
</dict>
</plist>
