<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/harivan-forgejo.css?v=__HARIVAN_FORGEJO_CSS_VERSION__">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/pierre-forgejo.css?v=__PIERRE_FORGEJO_CSS_VERSION__">
